.ad-detail-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin:10px auto;
}
.ad-data{
    font-size: 1.5rem;
    margin-left: 20px;
}
.delete-bttn, .offer-bttn {
    font-weight: 500;
    font-size: 1.5rem;
    border-radius: 5px;
    background-color: var(--details-light-blue);
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: var(--details-black);
    
}
.delete-bttn:hover{
    background-color: var(--cancel);
    transition: background-color .3s linear;
    
}
.offer-bttn:hover{
    background-color: var(--green-bttn);
    transition: background-color .3s linear;
    
}
