.main-header {
    background:var(--header-footer);
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    position: sticky;
    
}
.app-title {
    font-size: 3rem;
    padding: 3px;
    font-weight: 500;
    text-decoration: none;
    color: var(--details-white);
    text-align: center;
}

.navbar {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navbar a {
    color: var(--details-black);
    cursor: pointer;
    font-weight: 800;
    text-decoration: none;
    background-color: var(--background-color);
    box-shadow: 0 2px 6px var(--black-shadow);
    padding: 5px;
    border-radius: 5%;

}
.navbar a:hover{
    background-color: var(--details-white);
    transition: background-color .3s linear;
}

