.main-header {
    background:var(--header-footer);
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    position: sticky;
    
}
#user {
    text-align: end;
    font-weight: 500;
    font-size: 1.5rem;
    margin-right: 30px;
    
}

.app-title {
    font-size: 3rem;
    font-weight: 600;
    color: var(--details-white);
    text-align: center;
    
}

.navbar {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: flex-end;
    
}
#user-actions {
    margin-top: 5px;
}


.navbar a {
    color: var(--details-black);
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
    background-color: var(--background-color);
    box-shadow: 0 2px 6px var(--black-shadow);
    padding: 5px;
    border-radius: 5%;
    margin-left: 20px;

}
.navbar a:hover{
    background-color: var(--details-white);
    transition: background-color .3s linear;
}

